@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 7));
    }
}

.slider{
    background-color:#232427;
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slide-track{
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(250px * 14);
    height: 100%;
    align-items: center;
}

.slider .slide{
    height: 100px;
    width: 100%;
}

@media (max-width: 950px) {

    .slider .slide-track{
        animation: scroll 10s linear infinite;
    }
}