.navbarMain{
    font-size: 1.3rem;
    background-color: #232427;
}

.name span{
    font-size: 1.5rem;
    color: #01c4e7;
}

.items{
    list-style: none;
}

.items li{
    cursor: pointer;
    &:hover{
        color: #01c4e7;
    }
}