.proyectos{
    background-color: #232427 !important;
}

.card{
    padding: 5px;
    color: white;
    background-color: #2e2f33;
    border: 1px solid #5f5f5f;
}

.card-proyect{
    width: 22rem;
}

.btn-proyect{
    background-color: rgb(3, 153, 153);
    color: #FFF;
    border: none;
}


.btn:hover{
    background-color: rgb(1, 66, 66);
}

@media (max-width: 950px) {
    .card{
        margin: 10px;
        width: 90%;
    }

    .col-md-6{
        flex-direction: column;
    }

    .card-proyect{
        margin: auto;
    }
}